body {
    background: url(../images/backg.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    margin: 20px auto;
}

.logo {
    float: left;
}

header {
    background-color: #00008B;
    opacity: 0.95;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

footer {
    background-color: #00008B;
    opacity: 0.95;
    padding: 2% 40%;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
    border-top-width: inherit;
}

.menu {
    float: right;
    margin-top: 25px;
    margin-right: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

a:link,
a:visited {
    color: floralwhite;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ADD8E6;
}

.kontejner {
    position: relative;
    overflow: hidden;
}

.kolona1 img {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: cornflowerblue;
    border-left-style: solid;
    border-left-color: cornflowerblue;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-color: cornflowerblue;
    border-right-width: 3px;
}

.kolona2 img {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: cornflowerblue;
    border-right-style: solid;
    border-right-color: cornflowerblue;
    border-right-width: 3px;
}

.clear {
    clear: both;
}

.img-wrap {
    position: relative;
    overflow: hidden;
    width: 49.44%;
    height: 0;
    padding-bottom: 31.4918%;
    float: left;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: cornflowerblue;
    border-left-style: solid;
    border-left-color: cornflowerblue;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-color: cornflowerblue;
    border-right-width: 3px;
    opacity: 0.95;
}

.img-wrap > img {
    width: 100%;
    position: absolute;
}

.img-wrap .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #696969;
}

.img-wrap:hover .overlay {
    opacity: 0.9;
}

.img-wrap .overlay > .text {
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Carter One', cursive;
}

.drogba {
    width: 60%;
}

.lampard {
    width: 63%;
}

.essien {
    width: 60%;
}

.ivanovic {
    width: 80%;
}

.abt {
    font-family: 'Amarante', cursive;
    background-image: url(../images/pozz.jpg);
    background-size: cover;
    color: azure;
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    word-spacing: 5px;
    background-blend-mode: darken;
    opacity: 1;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
    border-top-width: 0;
    padding: 10px;
    text-align: center;
}

.std {
    font-family: 'Amarante', cursive;
    color: azure;
    background-color: #191970;
    -webkit-text-stroke: 0.7px black;
    font-size: 30px;
    word-spacing: 5px;
    background-blend-mode: darken;
    opacity: 0.98;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
    border-top-width: 0;
    padding: 10px;
    text-align: center;
}

.img1 {
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

.img2 {
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

.img3 {
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

.img4 {
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

.img5 {
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: cornflowerblue;
}

.legends {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: cornflowerblue;
    border-left-style: solid;
    border-left-color: cornflowerblue;
    border-left-width: 3px;
    background-color: cornflowerblue;
    opacity: 0.95;
    font-family: 'Black Ops One', cursive;
    color: white;
    font-size: 50px;
    padding: 5px 10px;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
}