* {
    margin: 0;
    padding: 0;

}

table,
tr,
td,
th {
    padding: 3px;
    font-family: sans-serif;
    border: 1px black solid;
}



thead {
    background-color: #808080;
    font-size: 1em;
    height: 30px;

}

tbody {
    font-size: 0.9em;

}

tbody tr:nth-child(2n) {
    background-color: indianred;
}

tfoot {
    background-color: #807000;
    font-size: 1em;
}

.center {
    text-align: center;
}

.headColor {
    background-color: orange;
    font-weight: bold;
}

.italicStyle {
    text-align: center;
    font-style: italic;
}

.onlyEm {
    font-style: italic;
}

.inTotal {
    background-color: #00ff00;
    font-style: italic;
    font-weight: bold;
}

body {

    margin: 5% 0 5% 25%;

}

p {
    margin: 0 0 1% 0;

}
