* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: cursive;
    text-align: center;
    font-size: 2em;
    background-color: bisque;
}

h2 {
    color: red;
    background-color: azure;
    font-style: italic;
}

body {
    background-image: url(../images/background-10.jpg);
}

p {
    font-size: 16px;
    font-family: arial, helvetica, sans-serif;
}

.red-color {
    color: red;
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
}

#logo
{
    float: left;
    align-content: center;
}

.row
{
    background-color: darkgoldenrod;
    
}

div
{
    margin: 0px 20px 0px 20px;
}
.wrap {
    overflow: hidden;
}
.search
{
    border-style: solid;
    padding: 3px;
    float: right;
}